<main role="main">
  <div class="pt-4 pb-4">
    <div class="container">

      <div class="card text-white bg-secondary mb-3" style="max-width: 75rem;">
        <% if @post.file.attached? %>
          <div class="d-block w-100" align='center'>
            <%= image_tag @post.file.variant(resize: "720x440") %>
          </div>
        <% end %>

        <div class="card-header"><%= "Created #{@post.created_at.to_date} by " %> <%= @post.user.nickname %></div>
        <div class="card-body">
          <h5 class="card-title"><%= @post.title %></h5>
          <p class="card-text"><%= @post.content %></p>
        </div>

        <%if can? :manage, @post %>
          <div style="padding: 5px">
            <button type="button" class="btn btn-light"><%= link_to 'Edit Post', edit_post_path(@post.id) %></button>
            <button type="button" class="btn btn-light"><%= link_to 'Delete Post', post_path(@post.id), method: :delete, data: { confirm: 'A you sure?' } %></button>
          </div>
        <% end %>
      </div>
      </br>

      <% if @comments.present? %>
        <h5>Comments:</h5>
        <div id="comments">
          <%= render @comments %>
        </div>
      <% end %>
      </br>

      <h5 class="add-comment">Add your comment:</h5>

      <%= render "comments/new", { comment: @comment} %>
    </div>
  </div>
</main>
